<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <div class="well well-sm">
      <h4>
        <strong>
          Login via <i class="fa fa-facebook-square fa-lg"></i>
        </strong>
      </h4>
      <div class="error-message">
        Error message
      </div>
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password">
      </div>
      <a href="#" class="btn btn-circle btn-default">Go </a>
    </div>
  </div>
</div>